.contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.constacts__link {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;

}

.constacts__link-adres {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: darkgray;
    font-size: 25px;
    width: 100%;
    padding-bottom: 50px;
}

.constacts__link-adres p:not(:last-child) {
    padding-bottom: 5px;
}

.constacts__link-number {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #ff9e7b;
    font-size: 25px;
    width: 100%;
    padding-bottom: 50px;
}

.constacts__link-number a:not(:last-child) {
    padding-bottom: 20px;
}

.constacts__link-number a:hover {
    color: var(--accent-color);
    transition: all 0.3s ease 0s;
}

.constacts__link-social {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contacts__map {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    width: 100%;
}

.icon {
    fill: #ff9e7b;
    cursor: pointer;
    width: 50px;
    height: 50px;

}

.icon:not(:last-child) {
    padding-right: 35px;
}

.icon:hover {
    fill: var(--accent-color);
    transition: all 0.3s ease 0s;
}