.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

:root {
    /* --main-font: 'Roboto', sans-serif; */
    /* --secondary-font: 'Raleway', sans-serif; */
    --accent-color: #F15A24;
    /* --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1); */
}

html, body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
}



.header__body {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
}

.header__logo {
flex: 0 0 100px;
/* border-radius: 50%; */
overflow: hidden;
position: relative;
z-index: 3;
}

.header__logo img {
    max-width: 100%;
    display: block;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header__link {
    color: var(--accent-color);

    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.header__burger {
    color: var(--accent-color);
}

.header__menu {}

  @media (max-width: 767px) {
    .header__logo{
        flex: 0 0 80px;
    }
    .header__body{
        height: 50px;
    }

    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background:var(--accent-color);
        top: 9px;
        left: 0;
        height: 2px;
        width: 100%;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before, 
    .header__burger:after{
        content: '';
        background: var(--accent-color);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom:  0;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
.header__link {
    color: #fff;}

    .header__menu {
        position: fixed;
        top: -110%;
        left: 0;
        width: 100%;
        height: 100%;
        /* filter: blur(6px); */
        background-color: var(--accent-color);
        padding: 70px 10px 20px 10px ;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active{
        top: 0;
    }

    .header__list{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .header__list li {
        margin: 0px 0px 20px 0px;
    }
  }


.slider {
    display: flex;
        align-items: center;
        /* position: relative; */
        position: absolute;
    padding-top: 100px; 
}

.slider img {
    padding-top: 100px;
            position: absolute;
    top: 0;
    left: 0;

    width: 375px;
    height: 350px;

    opacity: 0;
    transition: opacity 2s;
}

.slider img.opaque {
    opacity: 1;
}

