@import url(../fonts/Helvetica.ttf);
@import url(../fonts/Helvetica-BoldOblique.ttf);

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

:root {
    --second-font:'Helvetica-BoldOblique', sans-serif;
    --main-font: 'Helvetica', sans-serif;
    /* --secondary-font: 'Raleway', sans-serif; */
    --accent-color: #F15A24;
    --white-color: #fff;
    --light_black-color: #333;
    --black-color: #000;
    --bg_mobile_menu-color:#f15b24b8;
    --light_blur-color: #ff9e7b;
    --dark_blur-color: #8a3f26;
    --dark_adres-color: darkgray;
    /* --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1); */
}

html, body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    transition: all 0.3s ease 0s;
    background-color: var(--white-color);
    color: var(--light_black-color);
    margin: 0;
}

.container {
    max-width: 1180px;
    /* margin: 0 auto; */
    /* padding: 0px 10px; */
    margin: 0 auto;
        padding: 0;
}

.header {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--accent-color);
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}
.logo_svg{
}
.header__logo{
    display: flex;
    /* display: inline-block; */
    justify-content: flex-start;
    
    /* height: 100px; */
    z-index: 3;
}

*стили для logo svg 
.header__logo use {
    width: 300px;
        height: 100%;
        margin: 0;
        padding: 0;
    /* padding-bottom: 5px; */
    fill: var(--white-color);
}
.header__logo use:hover,
.header__logo use:focus {
    transition: all 0.3s ease 0s;
    fill: var(--black-color)
}


.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header__link {
    position: relative;
    color: var(--white-color);
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
    padding-bottom: 30px;
}
.header__link-current {
    font-size: 21px;
    font-weight: bold;
    color: var(--black-color);
    position: relative;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
.header__link-current::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--black-color);
    transition: opacity 250ms;
    border-radius: 2px;
}
.header__link:hover,
.header__link:focus{
        transition: all 0.3s ease 0s;
        color: var(--black-color);
}
.header__link:before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--black-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.header__link:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__burger {
    color: var(--accent-color);
}
.header__menu {
    font-family: var(--main-font);
    display: flex;
    font-weight: bold;
}
/* .header{
display: flex; 
align-items: center;
justify-content: center;
} */

@media (max-width: 767px) {
    .header__logo img{
        /* flex: 0 0 100px; */
        width: 98px;
    }
    .header__body{
        height: 50px;
        justify-content: space-between;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background: var(--white-color);
        top: 9px;
        left: 0;
        height: 2px;
        width: 100%;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before, 
    .header__burger:after{
        content: '';
        background: var(--white-color);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom:  0;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__link {
        color: #000;
        padding-bottom: 10px;
    }
    .header__link-current {
        padding-bottom: 10px;
    }

    .header__menu {
        position: fixed;
        top: -115%;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(6px);
        background-color: var(--bg_mobile_menu-color);
        padding: 70px 10px 20px 10px ;
        transition: all 0.1s ease 0s;
    }
    .header__menu.active{
        top: 0;
    }

    .header__list{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .header__list li {
        margin: 0px 0px 20px 0px;
    }
    .constacts__link{
        margin-bottom: 30px;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    
    .contacts__map {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
  }


.slider {
    display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    margin-top: 20px; 
}

.slider img {
    position: absolute;
    top: 0;
    /* left: 0; */
    max-width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 2s;
}

.slider img.opaque {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--light_black-color);
        color: var(--white-color);
        
    }
    .header__link{
        color: var(--black-color);
    }
    .header__link-current{
        color: var(--white-color);
    }
    .header__link-current::after{
        background-color: var(--white-color);
    }
    .header__link:hover,
    .header__link:focus {
        color: var(--white-color);
    }
    .header__link:before{
        background-color: var(--white-color);
    }
    .header__logo svg{
        fill: var(--black-color);
    }
    .header__logo svg:hover {
        fill: var(--white-color)
    }
    .ware__controls:before {
        background-color: var(--white-color);
    }
    .constacts__link-number{
        color: var(--dark_blur-color);
    }
    .icon{
        fill: var(--dark_blur-color);
    }
    .constacts__link-adres{
        color: var(--dark_adres-color);
    }
}



